<%= form_with model: @post, url: user_posts_path(current_user), method: :post, local: true, scope: :post do |form| %>
  <div class="posts_form">
    <h3>Add new post:</h3>
    
    <%= form.label :title,"blog title" %>
    <%= form.text_field :title %>
    <%= form.label :text,"blog text" %>
    <%= form.text_area :text, size:'70x4' %>
    <%= form.submit%>
  </div>
<%end%>